:root {
  --fontColor: rgb(220, 220, 220);
  --fontFamily: "Helvetica Neue", "Calibri Light", "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

#zazu {
  -webkit-app-region: drag;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 5px;
  cursor: move;
  padding: 15px;

  & input {
    -webkit-app-region: no-drag;
    background-color: transparent;
    border: 0;
    color: var(--fontColor);
    font-family: var(--fontFamily);
    font-size: 36px;
    font-weight: 400;
    outline: none;
    padding: 0;
    width: 100%;

    &::-webkit-input-placeholder {
      color: rgb(30, 30, 30);
    }
  }

  & div.results {
    display: flex;
    flex-direction: row;

    & ul {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 50%;

      &:last-child {
        width: 100%;
      }

      & li {
        -webkit-app-region: no-drag;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        font-family: var(--fontFamily);
        padding: 10px 8px;
        transition: background-color 0.2s ease-in-out;
        width: 100%;

        &:first-of-type {
          border-top: 1px solid rgba(255, 255, 255, 0.15);
          margin: 15px 0 0;
        }

        &:last-of-type {
          border-bottom: 0;
        }

        & .icon {
          float: left;
          height: 40px;
          line-height: 40px;
          margin: 3px 20px 0 5px;
          text-align: center;
          transition: all 0.15s ease-in-out;
          width: 40px;
        }

        & .icon.fa {
          color: #fff;
          font-size: 30px;
        }

        & h2,
        & h3 {
          font-weight: 400;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        & h2 {
          color: var(--fontColor);
          font-size: 22px;

          &:last-child {
            line-height: 48px;
          }
        }

        & h3 {
          color: rgb(120, 120, 120);
          font-size: 14px;
        }

        &.active,
        &:hover {
          background-color: rgba(255, 255, 255, 0.05);

          & .icon {
            transform: scale(1.05);
          }

          & h2 {
            color: rgb(240, 240, 240);
          }
        }
      }
    }
  }
}

#preview {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border: 0;
}
